body {
  position: relative;
  min-height: 100vh;
}


/******************* carousel styles ************/

.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 100%;
  min-height: 150px;
  height: 70vh;
  margin-right: 10px;
  background: #333;
}

.carousel-cell-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          -o-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

.flickity-page-dots {
  bottom: 30px;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}


.flickity-button:hover {
  background: #F90;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.flickity-button:hover {
  background: #ffff00;
}


/*************** product-detail **************/

#product-detail-container {
  width: 100%;
  min-height: 100px;
  position: absolute;
  top: calc(70vh + 35px);
  font-family: 'Source Sans Pro', sans-serif;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 200;
  padding: 20px 20px 0 20px;
  margin-bottom: 0;
  background-color: whitesmoke;
  box-shadow:  0 1px 8px 0 rgba(0,0,0,0.20),
              0 3px 4px 0 rgba(0,0,0,0.14),
              0 3px 3px -2px rgba(0,0,0,0.12),
               0 1px 8px 0 rgba(0,0,0,0.20);
}


#product_name {
  font-size: 1.5em;
  font-weight: bolder;
  color: #212121;
}

#product_description {
  color: #757575;
  margin-top: 10px;
  font-size: 1em;
  line-height: 1.3;
}

#product_price {
  margin-top: 10px;
  color: #212121;
  font-size: 1.2em;
}

#price_label {
  margin-right: 5px;
}

#seller_name {
  margin-top: 10px;
  font-size: 1.2em;
  color: #212121;
}

#seller_number {
  margin-top: 10px;
  color: #212121;
}

#seller_number_label {
  margin-right: 5px;
}

#seller_name_label {
  margin-right: 5px;
}

#seller_location {
  color: #58B2FE;
  margin-top: 10px;
}

#location_icon {
  margin-right: 5px;
}

#call_seller, #message_seller {
  cursor: pointer;
  width: 100%;
  background-image: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
  margin-top: 20px;
  border-radius: 50px;
  height: 40px;
  font-size: 1.2em;
}

#call_seller>a>span, #message_seller>a>span {
  margin-right: 10px;
}

#call_seller>a, #message_seller>a {
  text-decoration: none;
  color: #212121;
  outline: none;
}

#call_seller>a:active, #message_seller>a:active {
  color: #212121;
  outline: none;
}

#message_seller {
  margin-bottom: 70px;
}


.how-to-buy-container {
  margin: 40px 0 20px 0;
}

#footer {
  border-bottom: solid 5px #212121;
}



