* { margin: 0px; }


.support {
	padding: 10px;
	margin: 10px;
	font-weight: lighter;
	font-size: 0.9rem;
	min-height: 100px;
}

.product-container {
	font-family: 'Lato', sans;
	min-height: 200px;
	margin: 10px 20px;
	display: flex;
	flex-flow: column nowrap;
	font-size: 1rem;
}


.product-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.image-container {
	flex: 1 1 auto;
	overflow: hidden;
	margin: 5px;
	border-radius: 0.5rem;
	position: relative;
}

.detail-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-flow: column nowrap;
	flex: 1 1 auto;
	padding:0 20px;
	color: #2d343e;
	margin: 0 5px 5px 5px;
	border-radius: 0.5em;
	font-family: 'IBM Plex Sans', sans-serif;
}

.item-name {
	color: black;
	text-align: center;
}

.item-price, .item-name {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	padding: 10px;
}

.item-price {
	font-weight: bolder;
	font-size: 0.8em;
}

.premium-tag {
	position: absolute;
	bottom: 10%;
	left: 0;
	min-width: auto;
	padding: 2px 8px;
	display: flex;
	align-items: center;
	text-transform: lowercase;
	justify-content: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 0.9em;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	color: #2d343e;
	z-index: 10;
	background-image: -webkit-gradient(linear, left top, right top, from(#1fa2ff), color-stop(#12d8fa), to(#a6ffcb));
	background-image: -webkit-linear-gradient(left, #1fa2ff, #12d8fa, #a6ffcb);
	background-image: -o-linear-gradient(left, #1fa2ff, #12d8fa, #a6ffcb);
	background-image: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}


#footer {
	margin: 10px;
}

/****************************** pagination **********************/

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	margin: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

.pagination-item {
	padding: 10px 16px;
}

.pagination-item:nth-child(2) {
	background-color: #2d343e;
	color: whitesmoke;
	border-radius: 100%;
}

@media (min-width: 500px) {

	#product-list-container {
		display: grid;
		grid-template-columns: repeat(2, minmax(100px, 1fr));
		grid-auto-rows: minmax(200px, 1fr);
	}

	.product-container {
		margin: 10px 5px;
	}

	.image-container {
		flex: 1.4 1 auto;
	}

	.detail-container {
		flex: 0.6 1 auto;
		padding: 0 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.item-name, .item-price {
		padding: 5px;
	}

	.item-name {
		font-size: 0.9em;
	}

	.item-price {
	    font-weight: bolder;
	    font-size: 0.7em;
    }

    .premium-tag {
    	font-size: 0.7em;
    }

    .product-image {
    	width: 100%;
	    height: 100%;
	    object-fit: cover;
	    object-position: center;
    }
}

@media (min-width: 801px) {

	#product-list-container {
		grid-template-columns: repeat(3, minmax(100px, 1fr));
	}
}

























