* { 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box;
}

* {
    margin: 0;
}


@font-face {
    font-family: 'Lato-Black';
    src:url('fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src:url('fonts/Lato-Regular.ttf');
}

/************************ header ******************************/
.fa-bars {
    color: white;
}

#header { 
  /* vendor prefixed css */
    font-family: 'Lato-Black';
    background-color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
    min-height: 50px; 
    height: 10vh;
    width: 100vw;
}


/*********************** logo styles ******************************/
#logo {
    font-size: 1.8rem;
    font-weight: bolder;
}


#ku {
    color: #ff1744;
    font-weight: bolder;
}

#me {
    color: #00c853;
    font-weight: bolder;
}

#no {
    color: #ffff00;
    font-weight: bolder;
}

#ga {
    color: #039BE5;
    font-weight: bolder;
}


/******************* carousel styles ************/

.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 100%;
  min-height: 150px;
  height: 40vh;
  margin-right: 10px;
  background: #333;
}

.carousel-cell-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          -o-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}


.flickity-button:hover {
  background: #F90;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.flickity-button:hover {
  background: #ffff00;
}


/***************************** Ad container ***********************/
#ad-container {
  max-width: 100%;
  min-height: 10vh;
  margin: 35px 20px 0 20px;
  color: #ff1744;
  font-size: 1.3rem;
  font-weight: bolder;
}

/****************************** Product info container *********************/
#product-info-container {
  margin: 20px;
}

.product-info {
  min-height: auto;
  padding: 20px 10px;
  font-family: 'Unna', serif;
  min-height: 30px;
  color: #2d343e;
}

.bolder {
  font-family: 'Lato-Black';
  font-weight: bolder;
}

#product-description {
  border-bottom: none;
}

/************************************* Contact seller buttons ************************/
.contact-button {
  text-decoration: none;
  color: #2d343e;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Unna', serif;
  font-size: 1.0em;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#call-seller {
  margin-right: 20px;
}

#message-seller {
  margin-left: 20px;
  background-color: #039BE5;
}

#contact-seller-containers {
  height: 70px;
  margin: 20px;
}

.contact-icon {
  font-size: 20px;
}


/************************************ footer styles ***********************/
#footer {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Lato-Regular";
  font-size: 1.1rem;
  margin: 20px;
  color: #2d343e;
}

.footer-item {
   padding: 20px 20px;
   min-height: 20px;
   color: #2d343e;
}

#legal-notice {
  border-bottom: none;
}


/********************************* social media *****************************/
#social-media {
  min-height: 50px;
  background-color: #212121;
  margin: 0;
}

.icon {
  margin: 10px 20px;
  color: white;
  font-size: 1.7rem;
}

.icon:first-child {
  margin-left: auto;
}

.icon:last-child {
  margin-right: auto;
}

/****************************** utility modules **************/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-center  {
    display: flex;
    align-items: center;
}

.is-shadow {
     -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),
              0 3px 3px -2px rgba(0,0,0,0.12),
               0 1px 8px 0 rgba(0,0,0,0.20);
             box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),
              0 3px 3px -2px rgba(0,0,0,0.12),
               0 1px 8px 0 rgba(0,0,0,0.20);
}

.is-bg-color {
     background-color: #e6e6e6;
}

.is-bordered-around {
     border: rgba(34, 34, 34, 0.2) solid 1px;
}

.is-white {
  background-color: rgb(255, 255, 255);
}

.is-round {
  border-radius: 5px;
}

.is-gradient-1 {
  background-image: -webkit-gradient(linear, left top, right top, from(#1fa2ff), color-stop(#12d8fa), to(#a6ffcb));
  background-image: -webkit-linear-gradient(left, #1fa2ff, #12d8fa, #a6ffcb);
  background-image: -o-linear-gradient(left, #1fa2ff, #12d8fa, #a6ffcb);
  background-image: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}

.is-gradient-2 {
  background-image: -webkit-gradient(linear, right top, left top, from(#00c6ff), to(#0072ff));
  background-image: -webkit-linear-gradient(right, #00c6ff, #0072ff);
  background-image: -o-linear-gradient(right, #00c6ff, #0072ff);
  background-image: linear-gradient(to left, #00c6ff, #0072ff);
}

.is-border-bottom {
  border-bottom: rgba(34, 34, 34, 0.2) solid 1px;
}

/***************** whatsapp floating icon *********/
.whatsapp-float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 100%;
    font-size: 25px;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
    z-index: 100;
}


