* { 
     -webkit-box-sizing: border-box; 
     box-sizing: border-box;
}

* {
    margin: 0;
}


@font-face {
    font-family: 'Lato-Black';
    src:url('fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'Lato-Regular';
    src:url('fonts/Lato-Regular.ttf');
}

/************************ header ******************************/
.fa-bars {
    color: white;
}

#header {
    font-family: 'Lato-Black';
    background-color: #212121;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 
    height: 10vh;
}

/*********************** logo styles ******************************/
#logo {
    font-size: 1.8rem;
    font-weight: bolder;
}


#ku {
    color: #ff1744;
    font-weight: bolder;
}

#me {
    color: #00c853;
    font-weight: bolder;
}

#no {
    color: #ffff00;
    font-weight: bolder;
}

#ga {
    color: #039BE5;
    font-weight: bolder;
}

/****************************** utility modules **************/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-center  {
    display: flex;
    align-items: center;
}


/******************* carousel styles ************/

.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 100%;
  height: 40vh;
  margin-right: 10px;
  background: #333;
}

.carousel-cell-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}


.flickity-button:hover {
  background: #F90;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.flickity-button:hover {
  background: #ffff00;
}


/***************************** Ad container ***********************/
#ad-container {
  max-width: 100%;
  min-height: 10vh;
  background-color: rgba(245, 245, 245);
  margin: 35px 20px 0 20px;
}

/****************************** Product info container *********************/
#product-info-container {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
}

.product-info {
  background-color: rgb(245, 245, 245);
  border-bottom: rgba(34, 34, 34, 0.2) solid 1px;
  min-height: auto;
  padding: 20px 10px;
  font-family: "Lato-Regular";
}

.bolder {
  font-family: 'Lato-Black';
  font-weight: bolder;
}

#product-description {
  border-bottom: none;
}

/************************************* Contact seller buttons ************************/
.contact-button {
  text-decoration: none;
  color: black;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  font-family: 'Lato-Black';
  font-size: 1.0em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#call-seller {
  margin-right: 20px;
  background-color: #00c853;
}

#message-seller {
  margin-left: 20px;
  background-color: #039BE5;
}

#contact-seller-containers {
  height: 10vh;
  background-color: rgb(245, 245, 245);
  margin: 20px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),
              0 3px 3px -2px rgba(0,0,0,0.12),
               0 1px 8px 0 rgba(0,0,0,0.20);
}

.contact-icon {
  font-size: 20px;
}


/************************************ footer styles ***********************/
#footer {
  height: 30vh;
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(245, 245, 245);
  justify-content: center;
  font-family: "Lato-Regular";
  font-size: 1.1rem;
  margin: 20px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),
              0 3px 3px -2px rgba(0,0,0,0.12),
               0 1px 8px 0 rgba(0,0,0,0.20);
}

.footer-item {
   border-bottom: rgba(34, 34, 34, 0.2) solid 1px;
   padding: 20px 20px;
}

#legal-notice {
  border-bottom: none;
}


/********************************* social media *****************************/
#social-media {
  height: 10vh;
  background-color: #212121;
}

.icon {
  margin: 10px 20px;
  color: white;
  font-size: 30px;
}

.icon:first-child {
  margin-left: auto;
}

.icon:last-child {
  margin-right: auto;
}








