* {
	margin: 0;
}

.form-banner {
	background-color: #0f4a6c;
	color: whitesmoke;
	font-family: 'Source Sans Pro', sans-serif;
}

.form-banner>h3 {
    font-size: 1.3em;
}

.banner-info-text {
    font-size: 1.0em;
}

.action-button {
    font-size: 1.3em;
}

.entry {
	display: flex;
	flex-flow: column nowrap;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 15px;
}

.entry>input {
	height: 40px;
	border-radius: 5px;
	outline: none;
	border: none;
	border: rgba(34, 34, 34, 0.2) solid 1px;
	padding: 5px;
}

.entry>label {
	margin: 5px 0;
}

input:focus {
	border: solid 2px #039BE5;
}


.entry>textarea {
	height: 200px;
	border-radius: 5px;
	resize: vertical;
	outline: none;
	border: none;
	border: rgba(34, 34, 34, 0.2) solid 1px;
}

textarea:focus {
	border: solid 2px #039BE5;
}

.entry label {
	display: flex;
	flex-flow: row nowrap;
}

form {
	margin: 10px;
	padding: 20px;
}

.important {
	font-size: 0.8em;
	color: #2d343e;
}

.info {
	color: black;
	font-weight: 200;
}

#post_button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 20px;
}

#post_button button {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
	color: #212121;
	border: none;
	margin: 0 20px;
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 5px;
}

/***************************** Upload image **********************/

#upload-images-container {
	margin-top: 30px;
	color: #212121;
}

.fa-camera {
	margin-right: 10px;
	color: #212121;
}


.upload_my_images {
	position: relative;
	background-image: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
}

.upload_my_images label {
  padding: 5px 20px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  transition: all .4s;
}

.upload_my_images input {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  opacity: 0.01;
  cursor: pointer;
}



/********************* dropdowns *********************/

.select-hidden {
	 display: none;
	 visibility: hidden;
	 padding-right: 10px;
}
 .select {
	 cursor: pointer;
	 display: inline-block;
	 position: relative;
	 font-size: 16px;
	 background-color: rgba(255, 255, 255);
	 border-radius: 5px;
	 border: rgba(34, 34, 34, 0.2) solid 1px;
	 width: 100%;
	 height: 40px;
}
 .select-styled {
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 padding: 8px 15px;
}
 .select-styled:after {
	 content: "";
	 width: 0;
	 height: 0;
	 border: 5px solid transparent;
	 border-color: #212121 transparent transparent transparent;
	 position: absolute;
	 top: 16px;
	 right: 10px;
}
 .select-styled:hover {
 	border: #039BE5 solid 1.5px;
}
 .select-styled:active, .select-styled.active {
 	 border: #039BE5 solid 1.5px;
 	 border-radius: 5px;
}
 .select-styled:active:after, .select-styled.active:after {
	 top: 9px;
	 border-color: transparent transparent #fff transparent;
}
 .select-options {
	 display: none;
	 position: absolute;
	 top: 100%;
	 right: 0;
	 left: 0;
	 z-index: 999;
	 margin: 0;
	 padding: 0;
	 list-style: none;
	 background-color: rgb(255, 255, 255);
	 max-height: 300px;
	 overflow-y: scroll;
	 border: #039BE5 solid 1.5px;
	 border-bottom-right-radius: 5px;
	 border-bottom-left-radius: 5px;
}
 .select-options li {
	 margin: 0;
	 padding: 12px 0;
	 text-indent: 15px;
	 border-top: rgba(34, 34, 34, 0.2) solid 1px;
}
 .select-options li:hover {
	 color: #c0392b;
}
 .select-options li[rel="hide"] {
	 display: none;
}
 
.no-overflow {
	overflow-y: hidden;
}





















