* {
	margin: 0;
}

#post-free {
	height: 10vw;
	color: #039BE5;
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 10px 20px;
}

#post-free>p {
	margin-left: 10px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

form {
}

.entry {
	display: flex;
	flex-flow: column nowrap;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 15px;
}

.entry>input {
	height: 30px;
	border-radius: 5px;
	outline: none;
	border: none;
	border: rgba(34, 34, 34, 0.2) solid 1px;
	padding: 5px;
}

input:focus {
	border: solid 2px #039BE5;
}


.entry>textarea {
	height: 200px;
	border-radius: 5px;
	resize: vertical;
	outline: none;
	border: none;
	border: rgba(34, 34, 34, 0.2) solid 1px;
}

textarea:focus {
	border: solid 2px #039BE5;
}

.entry label {
	display: flex;
	flex-flow: row nowrap;
}

form {
	margin: 10px;
	padding: 20px;
}

.important {
	font-size: 0.8em;
	color: #2d343e;
}

.info {
	color: black;
	font-weight: 200;
}

#post_button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 20px;
	font-family: 'Source Sans Pro', sans-serif;
}

#post_button button {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #039BE5;
	color: whitesmoke;
	border: none;
	margin: 0 20px;
	font-size: 1em;
	border-radius: 5px;
}

.upload_my_images {
    position:relative;
    overflow:hidden;
    float: left;
    width: 80vw;
    height: 30px;
    background: orange;
    border-radius: 5px;
}

.upload_my_images span {
    position: absolute;
    width: 130px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:17px;
    line-height:27px;
    text-align:center;
    color:#555;
}

.upload_my_images input[type='file'] {
    cursor:pointer;
    cursor:hand;
    -moz-opacity:0;
    filter:alpha(opacity: 0);
    opacity: 0;
    outline: none;
    outline-style:none;
    outline-width:0;
    ie-dummy: expression(this.hideFocus=true);
}

#upload_field {
	display: flex;
	justify-content: center;
	flex-flow: row nowrap;
	align-items: center;
}

.upload_my_images:hover {
    background-position:-140px -35px;
}

.upload_my_images:hover span {
    color:#fff;
}

.result {
    float: left;
    width: 400px;
    height: 30px;
    border: 1px solid purple;
}

