* {
	margin: 0;
}

.form-banner {
	background-color: #0f4a6c;
	color: whitesmoke;
	font-family: 'Source Sans Pro', sans-serif;
}

.form-banner>h3 {
    font-size: 1.3em;
}

.banner-info-text {
    font-size: 1.0em;
}

.action-button {
    font-size: 1.3em;
}

.entry {
	display: flex;
	flex-flow: column nowrap;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 15px;
}

.entry>input {
	height: 40px;
	border-radius: 5px;
	outline: none;
	border: none;
	border: rgba(34, 34, 34, 0.2) solid 1px;
	padding: 5px;
}

.entry>label {
	margin: 5px 0;
}

input:focus {
	border: solid 2px #039BE5;
}


.entry>textarea {
	height: 200px;
	border-radius: 5px;
	resize: vertical;
	outline: none;
	border: none;
	border: rgba(34, 34, 34, 0.2) solid 1px;
}

textarea:focus {
	border: solid 2px #039BE5;
}

.entry label {
	display: flex;
	flex-flow: row nowrap;
}

form {
	margin: 10px;
	padding: 20px;
}

.important {
	font-size: 0.8em;
	color: #2d343e;
}

.info {
	color: black;
	font-weight: 200;
}

#post_button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 20px;
}

#post_button button {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
	color: #212121;
	border: none;
	margin: 0 20px;
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	border-radius: 5px;
}

/***************************** Upload image **********************/

#upload-images-container {
	margin-top: 30px;
	color: #212121;
}

.fa-camera {
	margin-right: 10px;
	color: #212121;
}


.upload_my_images {
	position: relative;
	background-image: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
}

.upload_my_images label {
  padding: 5px 20px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  transition: all .4s;
}

.upload_my_images input {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  opacity: 0.01;
  cursor: pointer;
}



/********************* region dropdown *********************/
.dropdown-container {
	width: 100%;
	min-height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row nowrap;
}

.dropdown-container {
	background-color: rgb(255, 255, 255);
	border: rgba(34, 34, 34, 0.2) solid 1px;
	border-radius: 5px;
	padding: 0 10px;
	position: relative;
	color: rgba(34, 34, 34, 0.2);
}

.options {
	position: absolute;
	max-height: 150px;
	top: 40px;
	left: 0;
	z-index: 5;
	background-color: rgb(255, 255, 255);
	width: 100%;
	padding: 0 20px 10px 20px;
	border: rgba(34, 34, 34, 0.2) solid 1px;
	border-top: none;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	display: none;
	overflow-x: scroll;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.option {
	padding: 10px 0;
	border-bottom: rgba(34, 34, 34, 0.2) solid 0.5px;
	color: #212121;
	border-radius: none;
}

.show {
	display: block;
}
























